<section class="loadout">
  <div class="primary">
    <h2>Primary</h2>
    <!-- <img src="/images/m4.jpg" /> -->
  </div>
  <div class="secondary">
    <h2>Secondary</h2>
    <img />
  </div>
  <div class="operator">
    <h2>Operator</h2>
    <img />
  </div>
  <div class="perk1">
    <h2>Perk1</h2>
    <img />
  </div>
  <div class="perk2">
    <h2>Perk2</h2>
    <img />
  </div>
  <div class="perk3">
    <h2>Perk3</h2>
    <img />
  </div>
</section>

<section class="profile">
  <h2>Username</h2>
  <h3>Platform</h3>
  <h3>Age</h3>
</section>
