*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: vox, sans-serif;
  font-weight: 300;
  font-style: normal;
  background: black;
  color: white;
}

main {
  padding: 8px;
  overflow: hidden;
}

a {
  color: #85b8be;
  text-decoration: none;
}

ul {
  list-style: none;
}

header {
  background: #1e1f23;
  color: #85b8be;
  padding: 0.5em 0.5em 0 0.5em;
}

header h1 {
  border-bottom: 1px solid #85b8be;
  display: inline;
  position: relative;
}

header h1::before {
  background-color: #85b8be;
  content: '';
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: -10px;
}

header nav {
  margin-top: 1em;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header nav ul li {
  width: 40vw;
  height: 30px;
  text-align: center;
}

header nav ul li.active {
  background: linear-gradient(rgba(30, 31, 35, 1), rgba(133, 184, 190, 0.3));
  border-bottom: 2px solid #b5bbc2;
}

section.options {
  display: flex;
  justify-content: space-around;
}

main.displayuser section.loadout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3fr 2fr 1fr;
}

section.loadout div {
  position: relative;
}

section.loadout div img {
  position: absolute;
}

div.primary {
  grid-column: 1/3;
  grid-row: 1/2;
}

div.primary img {
  position: absolute;
  width: 100%;
  z-index: -1;
}

div.secondary {
  grid-column: 1/2;
  grid-row: 2/3;
}

div.secondary img {
  width: 100%;
}

div.operator {
  grid-column: 2/4;
  grid-row: 1/3;
  text-align: right;
  z-index: 25;
}

div.operator img {
  position: absolute;
  height: 100%;
  right: -16%;
  z-index: -2;
}

div.perk1 {
  grid-column: 1/2;
}

div.perk2 {
  grid-column: 2/3;
}

div.perk3 {
  grid-column: 3/4;
}

div.perk1,
div.perk2,
div.perk3 {
  z-index: 50;
  text-align: center;
}
