<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs') %>
  <body>
    <%- include ('../partials/navbar.ejs') %>
    <main>
      <section>
        <% if (user.length > 0) { %> <% user.forEach(user => { %>
        <h1 class="Username"><%= user.username %></h1>
        <a class="delete" data-doc="<%= user.id %>">delete user</a>
        <%})%> <% } else { %>
        <p>No users found</p>
        <% } %>
      </section>
    </main>
  </body>
</html>
