<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style/styles.css" rel="stylesheet" />
    <title>Find a Teammate :)</title>
  </head>

  <body>
    <header><%- include ('../partials/navbar.ejs') %></header>

    <%- include ('../partials/stats.ejs') %>

    <script></script>
  </body>
</html>
